$primary: #E9E9E9;
$secondary: #FBF9F9;

$initial: #0576A2;
$progress: #FF9900;
$success: #05A25D;
$error: #DD4937;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin inline-text() {
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

@import "directives/async-upload";
@import "directives/doc-preview";
@import "directives/upload-progress";
@import "directives/async-upload-preview";
