@import "../bower_components/angular-pallet/dist/angular-pallet";
@import "../bower_components/angular-doc-preview/dist/angular-doc-preview";
@import "../bower_components/angular-progress/dist/angular-progress";

$primary: #E9E9E9;
$secondary: #FBF9F9;

@mixin inline-text() {
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.files-table {
  margin: 10px 0 10px 0;

  .files-row {
    width: 100%;
    white-space: nowrap;
    padding: 5px;

    .doc-preview, .pre-preview, .file-status {
      display: inline-block;
      margin: 0;
    }

    .doc-preview, .pre-preview {
      text-align: left;
      width: 65%;
    }

    .pre-preview {
      span {
        @include inline-text();
        &:before {
          content: '\00a0\00a0\2022\00a0\00a0\00a0';
        }
      }
    }

    .doc-preview {
      .doc-link {
        @include inline-text();
      }
    }

    .file-status {
      text-align: right;
      width: 35%;
    }

    &:nth-child(odd) {
      background-color: $primary;
    }

    &:nth-child(even) {
      background-color: $secondary;
    }
  }
}

// Overrides

.doc-preview {
  .image-preview {
    border: solid 1px $primary;
  }
}
